<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.banerjee.bruincave_new">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/likedpaw"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".home_layout"
            android:label="@string/title_activity_home_layout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".profile_layout"
            android:label="@string/title_activity_profile_layout"
            android:theme="@style/AppThemeNoActionBar" />
        <activity android:name=".settings_layout" />
        <activity
            android:name=".photos_intent"
            android:label="@string/title_activity_photos_intent"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".followers_intent"
            android:label="@string/title_activity_followers_intent"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".following_intent"
            android:label="@string/title_activity_following_intent"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".post_intent"
            android:label="@string/title_activity_post_intent"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".login_layout"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".messages_intent"
            android:label="@string/title_activity_messages_intent"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".postHome_intent"
            android:label="@string/title_activity_messages_intent"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".postAnon_intent"
            android:label="@string/title_activity_messages_intent"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".register_layout"
            android:label="@string/title_activity_register_layout"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".register_layout2"
            android:label="@string/title_activity_register_layout"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".register_layout3"
            android:label="@string/title_activity_register_layout"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".crush_intent"
            android:label="@string/title_activity_crush_intent"
            android:theme="@style/AppThemeNoActionBar" />

        <service
            android:name=".NotificationService"
            android:exported="false"></service>

        <receiver android:name=".BootReciever">
            <intent-filter>
                <action android:name="com.example.banerjee.bruincave_new" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>